<phpunit
	bootstrap="./Bootstrap.php"
	colors="true">
	<testsuites>
		<testsuite name="CodeIgniter Application Test Suite">
			<directory suffix="test.php">./</directory>
			<exclude>./_ci_phpunit_test/</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./_ci_phpunit_test</directory>
			<file>./TestCase.php</file>
			<file>../database/seeds/CategorySeeder.php</file>
			<file>../libraries/Seeder.php</file>
			<exclude>
				<directory suffix=".php">./_ci_phpunit_test/patcher/third_party</directory>
				<directory suffix=".php">./_ci_phpunit_test/tmp</directory>
				<file>./_ci_phpunit_test/autoloader.php</file>
				<file>./_ci_phpunit_test/TestSuiteProvider.php</file>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
